@import 'bulma/sass/utilities/initial-variables.sass';

/* Color Theme Swatches in Hex */
$soil-dark: #948356;
$soil-fire: #FA932D;
$soil-light: #C79510;
$soil-lighter: #FFCC86;
$soil-lightest: #FEE3C7;
$nickel-sulphate: #10C78E;
$copper-sulphate: #6CFBF6;

$primary: $nickel-sulphate;
$info: $copper-sulphate;
$warning: $soil-light;
$danger: #FA6963;
