// Bulma Import
@import '~bulma';

// Google Fonts import
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap');


// Customizations Here (Optional)


// Common style
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

a image {
  border: 0;
}
